body {
  /* background-image: url("image/notebook.gif"); */
  background-image: url("image/double-bubble-dark/double-bubble-dark.png");
  font-family: monospace;
  color: #ccccff;
}

b {
  color: white;
}

body.podcast {
  text-align: center;
}

div.contacts {
  float: right;
}

/* Stolen from https://css-tricks.com/examples/hrs/ */
hr.podcast {
    border: 0;
    height: 1px;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.episode {
  border: 1px solid #626262;
}

h1.maintitle.podcast {
    display: none;
}

h1.maintitle.episode {
    color: white;
}

.coverimage img {
    width:  700;
    height: 700;
}

a, a:visited {
    color: cyan;
}

ul.episodelist {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

span.episodelistaudiolink {
    display: block;
    float: right;
    padding-left: 1em;
}

span.episodelistnumber {
    font-weight: bold;
    color: white;
}

span.episodelistpubdate {
    font-style: oblique;
    color: gray;
    font-size: smaller;
    display: none;
}

span.audiolinklabel {
    color: white;
    font-weight: bold;
}

p.publishedwhen {
    font-style: oblique;
}
